*{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
/* navbar styles start here */
.nav-section{
    background-color:#ffffff ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo img{
    object-fit: cover;
    border-radius: 10px;
    margin: 6px 4px 4px 0px;
    height: 80%;
    color: black;
}
.logo h3{
    color: #0D1B2A;
}

.nav-pages a{
    text-decoration: none;
    font-size: 18px;
    color: #575757;
    padding: 0px 10px;
}
.btn button{
    border: none;
    padding: 12px 12px;
    color: #ffffff;
    background-color: #1D4ED8;
    border-radius: 15px;
    cursor: pointer;
}

/* nav section style end */

/* banner section styles start */

.banner_section{
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0.65)),
     url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 786px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    text-align: center; 
    max-width: 650px;
    padding: 20px;
}

#connect{
    font-style:italic ;
}
.banner h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    margin: 0px, 0px, 40px;
}
.banner p {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 540px;
    margin:20px;
}
#btn{
    margin-top: 250px;
    border-radius: 10px;
    padding: 12px 34px;
}

/* banner section styles finish */

/* guest intro section styles start */
.intro-section h1{
      text-align: center;
      font-size: 56px;
      color: #000102;
      padding-top:80px ;
}
.intro-all-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 56px 80px;
    gap: 25px;
} 

.intro-content{
    overflow: hidden;
   border: 1px solid #E5E7EB;
   border-radius: 12px;
}
.intro-content img{
    width: auto;
    object-fit: cover;
}
.intro-content h6{
    color: #2563EB;
    font-size: 12px;
    font-weight: 200;
    margin-top: 10px;
    padding: 3px 10px;
}
.intro-content h2{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 10px;
}
.intro-section p {
    color: #575757;
    font-size: 14px;
    padding: 3px 10px;
    margin-bottom: 15px;
}

/* guest intro section styles finish */

/* ticket prices section styles start */

.ticket-price-section{
    padding: 80px 60px;
}
.ticket-price-section h2{
    text-align: center;
    color: #0D1B2A;
    font-size: 48px;
    padding-bottom: 12px;
}
.ticket-price-section #ticketParagraph{
    text-align: center;
    color: #575757;
    font-size: 16px;
    margin-bottom: 48px;
}
.ticket-price-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.ticket-price-card{
    border: 1px solid #E5E7EB;
    min-height: 444px;
    padding: 32px;
    border-radius: 12px;
    box-sizing: border-box;
}
.ticket-price-card h6{
    color: #888888;
    font-size: 13px;
    padding: 8px 0px;
   
    
}
.ticket-price-card p{
    color: #888888;
    font-size: 13px;
    padding: 4px 0px 18px 0px;
    border-bottom: 1px solid #E5E7EB;
    
}

.ticket-price-card h1{
    color: #0D1B2A;
    font-weight: bold;
    font-size: 44px;
}
.ticket-price-card ul{
    margin-top: 32px;
    padding:8px 8px 12px 8px;
    
}

.ticket-price-card li::marker{
    color: #2563EB;
}

.ticket-price-card ul li{
    color: #333333;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 12px;
}
.ticket-price-card button{
    color: #2563EB;
    width: 100%;
    border-radius: 8px;
    padding: 14px;
    background: transparent;
    border: 1px solid #2563EB;
}
.pro-card{
    background-color: #0D1B2A;
}
.pro-card h6 {
    color: #93C5FD;
}
.pro-card h1{
color: #ffffff;
}
.pro-card p{
    border-color: #ffffff95; 
}
.pro-card ul li{
    color: #ffffff;
}
.pro-card button {
    background-color: #2563EB;
  color: #ffffff;
}

.team-card{
    background-color: #F8F9FB;
}
.team-card button{
    color: #0D1B2A;
    border-color: #0D1B2A;
}

/* ticket prices section styles end */
/* ai form section start here */
.ai-section {
  padding: 80px 40px;
  background-color: #f8fafc;
}

.ai-heading {
  max-width: 720px;
  margin: 0 auto 48px;
  text-align: center;
}

.ai-heading h2 {
  margin-bottom:12px;
  color: #0d1b2a;
  font-size: 42px;
}

.ai-heading p {
  margin: 0;
  color: #888888;
  font-size: 16px;
  line-height: 1.5;
}

.ai-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: stretch;
}

.ai-info {
  padding: 32px;
  color: white;
  background-color: #0d1b2a;
  border-radius: 12px;
}

.ai-info img {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 24px;
}

.ai-info h3 {
  margin-bottom:16px;
  font-size: 28px;
}

.ai-info p {
  margin-bottom:14px;
  color: #cbd5e1;
  line-height: 1.6;
}

.ai-benefit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.ai-benefit span {
  color: #2563EB;
  font-weight: bold;
}

.ai-benefit p {
  margin: 0;
  color: #cbd5e1;
}

.ai-form {
  padding: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name-box {
  display: grid;
 grid-template-columns: repeat(2,1fr);
  gap: 16px;
}

.name-box p{
    font-size: 15px;
    padding-bottom: 8px;
    color: #0d1b2a;
}
.name-box input {
 width: 100%;
}

.ai-form input,
.ai-form select,
.ai-form textarea {
    margin: 4px 0;
  padding: 18px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox input {
  width: auto;
}

.ai-form button {
    margin-top: 64px;
  padding: 14px;
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
/* ai form section end here */
/* footer section style start */
.footer{
    width: auto;
    background-color: #0D1B2A;
    padding: 56px 60px 56px 60px;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media-logo{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.social-media-logo a{
    color: #CBD5E1;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.footer-divider{
    border: none;
    height: 2px;
    background-color: #424a5cbb;
    margin: 5px 0px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}
.footer-content p{
  font-size: 10px;
  color: #ffffff ;
}
.footer-term{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.footer-term a{
    color:  #ffffff;
    font-size: 10px;
    text-decoration: none;
}

/* footer section style finish */