*{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
/* navbar styles start here */
.nav-section{
    background-color:#ffffff ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 60px;
}
.logo {
    display: flex;
    flex-direction: row;
}
.logo img{
    object-fit: cover;
    border-radius: 10px;
    margin: 6px 4px 4px 0px;
    height: 80%;
    color: black;
}
.logo h3{
    color: #0D1B2A;
}

.nav-pages a{
    text-decoration: none;
    font-size: 18px;
    color: #575757;
    padding: 0px 10px;
}
.btn button{
    border: none;
    padding: 12px 12px;
    color: #ffffff;
    background-color: #1D4ED8;
    border-radius: 15px;
    cursor: pointer;
}

/* nav section style end */

/* banner section styles start */

.banner_section{
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0.65)),
     url(images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    text-align: center;
    max-width: 650px;
    padding: 20px;
}

.banner h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 60px;
    margin: 0px, 0px, 40px;
}
.banner p {
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 540px;
    margin:20px;
}
#btn{
    margin-top: 160px;
    border-radius: 10px;
    padding: 12px 34px;
}

/* banner section styles finish */